/* Cookie consent */

.cc-window {
    z-index: 11000 !important;
}

.cc-message {
    font-weight: normal;
    font-size: 15px;
    font-family: Roboto, Helvetica, sans-serif;
}

.cc-btn {
    font-family: Roboto, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
    border: 1px solid #fff !important;
    min-width: 100px !important;
    width: 100px !important;
    padding: 5px !important;
}

.cc-btn:hover {
    background-color: #2f97f0 !important;
}

.cc-link {
    outline: none;
}
