$icon
  font-family: 'Font Awesome\ 5 Free';
  speak: none
  font-weight: 900
  text-transform: none
  line-height: 1

$icon-exclamation-sign
  @extend $icon
  content: "\f06a"

$icon-info-sign
  @extend $icon
  content: "\f05a"

$icon-ok-sign
  @extend $icon
  content: "\f058"

$icon-search
  @extend $icon
  content: "\f002"
