<% var language_tabs = page.language_tabs || false %>
<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>
    <%= page.title || "API Documentation" %>
  </title>

  <!-- FAVICON -->
  <link rel="apple-touch-icon" sizes="57x57" href="https://cdn.objectia.com/assets/img/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://cdn.objectia.com/assets/img/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://cdn.objectia.com/assets/img/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://cdn.objectia.com/assets/img/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://cdn.objectia.com/assets/img/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://cdn.objectia.com/assets/img/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://cdn.objectia.com/assets/img/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.objectia.com/assets/img/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.objectia.com/assets/img/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="https://cdn.objectia.com/assets/img/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.objectia.com/assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://cdn.objectia.com/assets/img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.objectia.com/assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="https://cdn.objectia.com/assets/img/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="https://cdn.objectia.com/assets/img/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <%- css('css/style') %>

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">

  <!-- DO NOT UPGRADE THIS jQuery VERISON! -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <!-- SYNTAX COLORING -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
    </script>

  <%- js([
      'js/lib/energize',
      'js/lib/imagesloaded.min',
      'js/lib/jquery_ui',
      'js/lib/jquery.highlight',
      'js/lib/jquery.tocify.js',
      'js/lib/lunr'
    ]) %>
  <%- js('js/script') %>

  <% if (language_tabs){ %>
  <script>
    $(function() {
            setupLanguages(<%- JSON.stringify(language_tabs) %>);
        });
      </script>
  <% } %>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123492200-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-123492200-3');
    </script>

  <!-- Cookie consent -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function () {
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#1f87f0",
            "text": "#eee"
          },
          "button": {
            "background": "transparent",
            "text": "#fff"
          }
        },
        "position": "bottom",
        "content": {
          "message": "This website uses cookies to improve your experiences. By continuing to use this website you are giving consent to cookies being used.",
          "dismiss": "OK",
          "href": "https://objectia.com/privacy"
        }
      })
    });
  </script>


  <!-- Zendesk Widget -->
  <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=0c84088f-e0b6-4acb-ac00-68b8ebc48143">
  </script>
  <script type="text/javascript">
    window.zESettings = {
      webWidget: {
        zIndex: 10000,
        color: {
          launcher: '#1f87f0',
          launcherText: '#fff'
        }
      }
    };
  </script>
</head>

<body class="">
  <a href="#" id="nav-button">
    <span>
      <i class="fas fa-grip-vertical"></i>
    </span>
  </a>
  <div class="tocify-wrapper">
    <div class="logo"><a href="https://objectia.com"><img style="width: 125px" src="images/logo-medium.png" />
        <div class="badge">API</div>
      </a></div>
    <% if (language_tabs){ %>
    <div class="lang-selector">
      <% for( var lang in language_tabs){ %>
      <% if (typeof(language_tabs[lang]) === 'string') { %>
      <a href="#" data-language-name="<%= language_tabs[lang] %>">
        <%= language_tabs[lang] %></a>
      <% } else { %>
      <a href="#" data-language-name="<%= Object.keys(language_tabs[lang])[0] %>">
        <%= language_tabs[lang][Object.keys(language_tabs[lang])[0]] %></a>
      <% } %>
      <% } %>
    </div>
    <% } %>
    <% if (page.search) { %>
    <div class="search">
      <input type="text" class="search" id="input-search" placeholder="Search">
    </div>
    <ul class="search-results"></ul>
    <% } %>
    <div id="toc">
    </div>
    <% if (page.toc_footers){ %>
    <ul class="toc-footer">
      <% for( var link in page.toc_footers){ %>
      <li>
        <%- page.toc_footers[link] %>
      </li>
      <% } %>
    </ul>
    <% } %>
  </div>
  <div class="page-wrapper">
    <div class="dark-box"></div>
    <div class="content">
      <%- page.content %>
      <% if( page.includes ){ %>
      <% for( var include in page.includes ) { %>
      <%- markdown( read(page.includes[include]) ) %>
      <% } %>
      <% } %>
    </div>
    <div class="dark-box">
      <% if (language_tabs){ %>
      <div class="lang-selector">
        <% for( var lang in language_tabs){ %>
        <% if (typeof(language_tabs[lang]) === 'string') { %>
        <a href="#" data-language-name="<%= language_tabs[lang] %>">
          <%= language_tabs[lang] %></a>
        <% } else { %>
        <a href="#" data-language-name="<%= Object.keys(language_tabs[lang])[0] %>">
          <%= language_tabs[lang][Object.keys(language_tabs[lang])[0]] %></a>
        <% } %>
        <% } %>
      </div>
      <% } %>
    </div>
  </div>
</body>

</html>